<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Home Inserzionista</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home_inserzionista.home') }}">Home</a>
        <a href="{{ url_for('profili.profile', user_id=current_user.id) }}">Profilo</a>
        <a href="{{ url_for('login.logout') }}">Logout</a>
    </div>
    <h1>Benvenuto, {{ current_user.email }}!</h1>
</body>
</html>
