<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Registrazione</h1>
    <form action="{{ url_for('login.register') }}" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <label for="role">Seleziona il tipo di account:</label>
        <select name="role" id="role" required>
            <option value="user">Utente</option>
            <option value="advertiser">Inserzionista</option>
        </select>
        <br>
        <button type="submit">Registrati</button>
    </form>
</body>
</html>
