<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleziona i tuoi interessi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Seleziona i tuoi interessi</h1>
        <form method="POST" action="{{ url_for('interessi') }}">
            <div class="form-group">
                <label for="interessi">Interessi:</label>
                <div id="interessi">
                    {% for interesse in interessi %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="interessi" value="{{ interesse.id_interessi }}" id="interesse{{ interesse.id_interessi }}">
                            <label class="form-check-label" for="interesse{{ interesse.id_interessi }}">
                                {{ interesse.nome }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Salva Interessi</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
