{% extends "base.html" %}

{% block title %}Modifica Profilo{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Modifica Profilo</h2>

    <!-- Visualizza i messaggi di flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('modifica_profilo') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
        </div>
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ user.nome }}" required>
        </div>
        <div class="form-group">
            <label for="cognome">Cognome:</label>
            <input type="text" class="form-control" id="cognome" name="cognome" value="{{ user.cognome }}" required>
        </div>
        <div class="mb-3">
            <label for="bio" class="form-label">Biografia</label>
            <textarea class="form-control" id="bio" name="bio" rows="3">{{ user.bio }}</textarea>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
        </div>
        <div class="form-group">
            <label for="sesso">Sesso:</label>
            <select class="form-control" id="sesso" name="sesso">
                <option value="maschio" {% if user.sesso == 'maschio' %}selected{% endif %}>Maschio</option>
                <option value="femmina" {% if user.sesso == 'femmina' %}selected{% endif %}>Femmina</option>
                <option value="altro" {% if user.sesso == 'altro' %}selected{% endif %}>Altro</option>
            </select>
        </div>
        <div class="form-group">
            <label for="eta">Etá :</label>
            <input type="number" class="form-control" id="eta" name="eta" value="{{ user.eta }}" required>
        </div>
        <div class="form-group">
            <label for="ruolo">Ruolo:</label>
            <select class="form-control" id="ruolo" name="ruolo">
                <option value="utente" {% if user.ruolo == 'utente' %}selected{% endif %}>Utente</option>
                <option value="pubblicitari" {% if user.ruolo == 'pubblicitari' %}selected{% endif %}>Inserzionista</option>
            </select>
        </div>
        <div class="form-group">
            <label for="immagine">Foto Profilo:</label>
            <input type="file" class="form-control" id="immagine" name="immagine">
        </div>
        <br>
        <div class="form-group">
            <label>Interessi:</label><br>
            {% for interesse in interessi %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="interesse_{{ interesse.id_interessi }}" name="interessi" value="{{ interesse.id_interessi }}" {% if interesse.id_interessi in user_interessi %}checked{% endif %}>
                    <label class="form-check-label" for="interesse_{{ interesse.id_interessi }}">{{ interesse.nome }}</label>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Aggiorna Profilo</button>
    </form>
</div>
{% endblock %}