<!doctype html>
<html lang="en">
<head>
    <!-- Include CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Pubblica Annuncio</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <label for="tipo_post">Tipo di Post:</label>
        <select id="tipo_post" name="tipo_post">
            <option value="immagini">Immagini</option>
            <option value="testo">Testo</option>
        </select>
        <label for="sesso_target">Sesso Target:</label>
        <select id="sesso_target" name="sesso_target">
            <option value="maschio">Maschio</option>
            <option value="femmina">Femmina</option>
            <option value="tutti">Tutti</option>
        </select>
        <label for="eta_target">Età Target:</label>
        <input type="number" id="eta_target" name="eta_target">
        <label for="nome_interesse">Nome Interesse:</label>
        <input type="text" id="nome_interesse" name="nome_interesse">
        <label for="durata_annuncio">Durata Annuncio (giorni):</label>
        <input type="number" id="durata_annuncio" name="durata_annuncio">
        <label for="titolo">Titolo:</label>
        <input type="text" id="titolo" name="titolo">
        <label for="didascalia">Didascalia:</label>
        <textarea id="didascalia" name="didascalia"></textarea>
        <label for="testo">Testo:</label>
        <textarea id="testo" name="testo"></textarea>
        <label for="immagine">Media:</label>
        <input type="file" id="immagine" name="immagine">
        <button type="submit">Pubblica Annuncio</button>
    </form>
</body>
</html>
