<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pubblica Video</title>
</head>
<body>
    <h1>Pubblica un Video</h1>
    <form action="/pubblica_video" method="post" enctype="multipart/form-data">
        <input type="file" name="video">
        <br>
        <textarea name="testo" rows="10" cols="30" placeholder="Scrivi una descrizione..."></textarea>
        <br>
        <button type="submit">Pubblica</button>
    </form>
</body>
</html>