<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scegli Tipo di Post</title>
</head>
<body>
    <h1>Scegli il tipo di post da pubblicare</h1>
    <form action="/pubblica_testo" method="get">
        <button type="submit">Pubblica Testo</button>
    </form>
    <form action="/pubblica_immagini" method="get">
        <button type="submit">Pubblica Immagini</button>
    </form>
    <form action="/pubblica_video" method="get">
        <button type="submit">Pubblica Video</button>
    </form>
</body>